/* EX 1  */
.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    background: red;
}

/* EX 2 */
.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}

/* EX 3 */
.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* EX 4 */
.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover {
    background-color: transparent;
}

/* EX 5 */
.ex-5-square {
    transition: 3s;
}

.ex-5-square:hover {
    transform: scale(1.5);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* EX 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* EX 7 */
.ex-7-img {
    transition: 3s;
}

.ex-7-img:hover {
    filter: grayscale(0.5) sepia(0.5);
}

/* EX 8  */
.ex-8-img {
    transition: 3s;
}

.ex-8-img:hover {
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 50px;
}

/* EX 9 */
.ex-9-img {
    transition: 3s;
}

.ex-9-img:hover {
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 50px;
    transform: scale(1.5);
}

/* EX 10 */
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}

.ex-10-icon {
    animation: spin 1s linear infinite;
}

/* EX 11 */
@keyframes spin75 {
    0% {
        transform: rotate(0);
    }
    
    85% {
        transform: rotate(320deg);
    }
    
    100% {
        transform: rotate(0);
    }
}

.ex-11-icon:hover {
    animation: spin75 1s linear;
}

/* EX 12 */
@keyframes move-top {
    0% {
        left: 10%;
    }
    
    50% {
        left: calc(100% - 60px);
    }
    
    100% {
        left: 10%;
    }
}

@keyframes move-bottom {
    0% {
        right: 20%;
    }
    
    50% {
        right: calc(100% - 60px);
    }
    
    100% {
        right: 20%;
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: move-top 2s linear infinite;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: move-bottom 2s linear infinite;
}

/* EX-13 */
@keyframes move-top-13 {
    0% {
        left: 10%;
        top: -10px;
    }
    
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    
    75% {
        left: 0;
        top: 100%;
    }
    
    90% {
        left: -10px;
        top: -10px;
    }
    
    100% {
        left: 10%;
        top: -10px;
    }
}

@keyframes move-bottom-13 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    
    75% {
        right: 0;
        bottom: 100%;
    }
    
    90% {
        right: -10px;
        bottom: -10px;
    }
    
    100% {
        bottom: -10px;
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: move-top-13 3s linear infinite;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: move-bottom-13 3s linear infinite;
}


